@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&family=Karla:wght@400;500&family=Mouse+Memoirs&display=swap');

*{
    box-sizing: border-box;
}
body{margin: 0;}
:root{
    --color-bg:#1f1f38;
    --color-bg-variant:#2c2c6c;
    --color-primary:rgb(20, 33, 61);
    --color-primary-variant:#fca311;
    --color-white:#fff;
    --color-light:rgb(229, 229, 229);
    --color-dark:rgb(109, 102, 102);
    
    --transition: all 400ms ease;
}
aside{
    height:100vh;
    padding: 15px;
    border-right: 1px solid var(--color-light);
    width: 15%;
    float: left;
    text-align: center;
    justify-content: center;
    margin-right: 5px;
}
.categories__header{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color:var(--color-primary);
}
.categories__header-div{
    border-bottom: 1px solid var(--color-primary);
    margin-bottom: 5px;
}
  select{
    width: 100%;
    height: 40px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    font-family: 'Inter';
    font-size: 16px;
}
option{
    font-size: 18px;
    margin-bottom: 5px;
}
input{
    background: transparent;
    margin-right: 40px;
    margin-top: 20px;
    border-radius: 8px;
    height: 40px;
    width: 200px;
    font-family: 'Inter';
}
.submit{
    z-index: 2;
    position: relative;
    top: -33px;
    background: transparent;
    border: none;
    cursor: pointer;
    left: 70px;
}
.aside{
    position: absolute;
    top: 85px;
    right:10px;
    z-index: 2;
    background: transparent;
    width: 50%;
    padding: 15px;
    border-radius: 0px 4px 4px 4px;
}
.aside .search__form{
    display: none;
}
@media screen and (max-width:600px) {
    aside{
        display: none;
    }
}
@media screen and (max-width:1024px) {
    aside{
        display: none;
    }
}


@media screen and (min-width:1024px) {
    .aside{
        display: none;
    }
}
@media screen and (max-width:1200px) {
    aside{width:22%;}
}
